*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../img/Fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
}
.contenedor{
    margin-left: 24%;
    margin-top: 6em;
    width:55%;
    padding:40px;
    border-radius: 20px 20px 20px 20px;
    background: rgb(234, 205, 151);
    box-shadow: 0px 6px 20px 1px rgb(220, 143, 19);
}
/*Formulario*/
.formulario{
    width: 100%;
    border-radius:20px 20px;
    background:rgb(227, 193, 131);
}

/*Datos del usuario*/
.texto_usuario{
    padding: 20px 25px;
    font-size: 40px;
    text-align: center;
}
.formulario_nombre{
    width: 45%;
    margin: 0 21px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_direccion{
    width: 45%;
    margin: 0 5px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_correo{
    width: 45%;
    margin: 0 21px;
    margin-top: 20px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_rut{
    width: 45%;
    margin: 0 5px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_numero{
    width: 45%;
    margin: 20px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_clave{
    width: 45%;
    margin: 0 5px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}

/*Datos de la mascota*/
.texto_mascota{
    padding: 20px 25px;
    font-size: 40px;
    text-align: center;
}

.formulario_mascota_nombre{
    width: 45%;
    margin: 0 21px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_mascota_especie{
    width: 45%;
    margin: 0 5px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_mascota_raza{
    width: 45%;
    margin: 20px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_mascota_edad{
    width: 45%;
    margin: 0 5px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_mascota_microchip{
    width: 45%;
    margin: 20px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_mascota_procedencia{
    width: 45%;
    margin: 0 5px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}
.formulario_mascota_enfermedades{
    width: 93%;
    margin: 20px;
    padding: 15px;
    font-size:19px;
    border: none;
    outline: none;
    border-radius:20px 20px;
    background:rgb(211, 152, 79, 0.4);
    border-bottom:4px solid rgb(136, 122, 95);
}